<div class="view splash-view">
    <div class="splash-content">
        <div class="logo-container">
            <div class="app-logo">
                <svg width="80" height="80" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M50 10C50 10 20 20 20 35C20 50 20 70 50 90C80 70 80 50 80 35C80 20 50 10 50 10Z" fill="white"/>
                </svg>
            </div>
            <h1 class="app-title">NiTRUST</h1>
            <p class="app-tagline">Your Short-term Trust Fund</p>
        </div>
    </div>
</div>
